

#borda{
    height: 400px;
    width: 400px;

    border : 20px solid red;
   

   background-image: url("./Rosa-do-Deserto-Preta-Dobrada.jpg");
    text-align: center;
    box-shadow: inset 10px 10px 13px 3px #47750c;
    background-size: cover;
    
    padding: 10px;

    outline-width: 16px;
    outline-style:double;
    outline-color: rgb(20, 20, 20);
    
    margin:auto;
    margin-top: 100px;   
}

#letra{
    padding-top: 100px;
    font-style:italic;
    font-size: 50px;
    color: yellow;
    font-weight: bold;

}